apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-app-ingress
  namespace: default  # Use the namespace your app is deployed in
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"  # Optional: Disable SSL redirect if not using HTTPS
spec:
  ingressClassName: nginx
  rules:
  - host: af8a6247e173e4867ad88b9c6f9f1e86-853603990.eu-north-1.elb.amazonaws.com  # Use the LoadBalancer's IP
    http:
      paths:
      - path: /myapp-app  # This path will route traffic to your app
        pathType: Prefix
        backend:
          service:
            name: my-app-service  # The name of your app's service
            port:
              number: 80
